**/*
!*/
!/Qt/incs/**
!/Qt/srcs/**
!/Qt/Qt.pro
!/Qt/resources.qrc
!/roms/*.{gb, gbc}
!/srcs/**
!/incs/**
!/MacosX/Makefile
!/Windows/packages.config
!/Windows/packages
!/Windows/packages/**
!/Windows/Gbmu.{sln, vcxproj*}
!/install-windows.ps1
!/install-unix.sh
!/ressources/**
